html, body {
  margin: unset;
}

p, h1, div {
  margin: unset;
}

div {
  padding: unset;
}
img {
  vertical-align: top;
}
body{
  margin: auto;
  display: flex;
  background-image: url(images/bg.png);
  /* justify-content: center; */
  justify-content: space-around;
  padding: 100px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.bottom-text_contents {
  margin-bottom: auto;
  background-color: #9C6035;
  border-radius: 0 0 30px 30px;
  border-bottom: 10px solid #46260E;
  box-shadow: inset;
  color: white;

}

.bottom-text_contents h1 {
  line-height: 41px;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 20px;
  width: auto;
}

.bottom-text_contents p {
  margin: 10px 20px 40px 20px;
  position: relative;
  line-height: 18.4px;
  font-size: 16px;
  color: #E8BC9C;
}